/* Custom css */
a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

button {
  cursor: pointer;
}

/* List product page */
.list-product-page {
  margin: 3rem 1rem;

  .search-product {
    padding: 32px 16px;

    .list-input {
      input {
        border-radius: 4px;
        border: 1px solid var(--Grey-Light, #D6D6D6);
        background: var(--White-Light, #F3F3F3);
        margin-right: 30px;
      }
    }

    .list-button {
      .btnSearchProduct {
        background: var(--secon-1, #F47621);
        width: 150px;
        padding: 12px 16px;
        margin: 0 24px;

        &:hover {
          color: #fff;
        }
      }

      .brnClear {
        &:hover {
          color: #fa1a1a;
        }
      }
    }
  }

  .table-products {
    margin-top: 18px;

    .image_product {
      max-width: 90px;
      width: 100%;
      object-fit: cover;
    }

    .product-name {
      a {
        &:hover {
          color: #F47621;
        }
      }
    }

    .action-edit {
      color: #929292;
    }

    .action-delete {
      color: #E90000;
    }
  }
}

/* Create product page */
.create-product-page {
  textarea,
  input {
    border-radius: 8px;
    border: 1px solid var(--Grey-medium, #BFBFBF);
    background: var(--White-Light, #F3F3F3);
  }

  .remove-form-field {
    color: #F00;
  }

  .add-form-field {
    border: 1px solid var(--secon-1, #F47621);
    padding: 12px 8px;
    color: var(--secon-1, #F47621);
    font-size: 16px;
    font-weight: 600;

    &:hover {
      background-color: #F47621;
      color: #FFF;
    }
  }

  .labelUploadImage {
    border-radius: 8px;
    border: 1px dashed var(--Grey-Dark, #929292);
    padding: 40%;
    max-height: 127px;
    height: 100%;
    width: 100%;
  }

  .btnCreateAttribute {
    border: 1px solid var(--secon-1, #F47621);
    color: var(--secon-1, #F47621) !important;
    font-size: 16px;
    font-weight: 600;

    &:hover {
      background-color: #F47621;
      color: #FFF !important;
    }
  }

  .btnCreateProperty {
    border: 1px solid var(--secon-1, #F47621);
    color: var(--secon-1, #F47621) !important;
    font-size: 16px;
    font-weight: 600;

    &:hover {
      background-color: #F47621;
      color: #FFF !important;
    }
  }

  .btnSave {
    background: var(--secon-1, #F47621);
    width: 200px;
    padding: 12px 16px;
    color: var(--White, #FFF) !important;
    font-size: 16px;
    font-weight: 600;
  }
}

/* Update product page */
.update-product-page {
  textarea,
  input {
    border-radius: 8px;
    border: 1px solid var(--Grey-medium, #BFBFBF);
    background: var(--White-Light, #F3F3F3);
  }

  .remove-form-field {
    color: #F00;
  }

  .add-form-field {
    border: 1px solid var(--secon-1, #F47621);
    padding: 12px 8px;
    color: var(--secon-1, #F47621);
    font-size: 16px;
    font-weight: 600;

    &:hover {
      background-color: #F47621;
      color: #FFF;
    }
  }

  .labelUploadImage {
    border-radius: 8px;
    border: 1px dashed var(--Grey-Dark, #929292);
    padding: 40%;
    max-height: 127px;
    height: 100%;
    width: 100%;
  }

  .btnCreateAttribute {
    border: 1px solid var(--secon-1, #F47621);
    color: var(--secon-1, #F47621) !important;
    font-size: 16px;
    font-weight: 600;

    &:hover {
      background-color: #F47621;
      color: #FFF !important;
    }
  }

  .btnCreateProperty {
    border: 1px solid var(--secon-1, #F47621);
    color: var(--secon-1, #F47621) !important;
    font-size: 16px;
    font-weight: 600;

    &:hover {
      background-color: #F47621;
      color: #FFF !important;
    }
  }

  .btnSave {
    background: var(--secon-1, #F47621);
    width: 200px;
    padding: 12px 16px;
    color: var(--White, #FFF) !important;
    font-size: 16px;
    font-weight: 600;
  }
}

/* Your properties css*/
.s24w6 {
  font-size: 24px;
  font-weight: 600;
}

.cFFFs16w6 {
  color: var(--White, #FFF);
  font-size: 16px;
  font-weight: 600;
}

.cF00s14w6 {
  color: #F00;
  font-size: 14px;
  font-weight: 600;
}

.s12w5 {
  font-size: 12px;
  font-weight: 500;
}