body {
  margin-bottom: 0;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  //HEADER
  .header {
    .header-pc {
      display: block;
    }

    .header-mobile {
      display: none;
    }

  }
  .category-item {
    .swiper-pagination {
      display: none;
    }
  }
  .body {
    .section-First {
    }
  }

}

@media (min-width: 1140px) {
  .body {
    .section-First {
      &-hd {
        display: block;
      }

      &-mobile {
        display: none;
      }
    }
  }

}

@media (max-width: 1280px) {
  .header {
    .header-pc {
      .header-top {
        &-middle {
          .search-wrapper {
            button {
            }

            .category-drop {
              button {
              }
            }
          }
        }
      }

      .header-bottom {
        &-left {
          &--item {
            margin: 0 7px;

            a {
              font-size: 15px;

              .text {
                font-weight: 500;
              }
            }
          }

          .header_bottom--one {
            &--hd {
              font-size: 17px;
              padding: 13px 10px;

              i {
                font-size: 14px;
              }
            }

            .drop-menu {
              padding-top: 54px;

              .header_bottom--one--list {
                background-color: white;
                font-size: 16px;

                &--item {
                  padding: 7px 0px;

                  i {
                    font-size: 13px;
                    line-height: 28px;
                    padding: 0 10px;
                  }

                  .hd_dropdown--right {
                    margin-left: 0px;
                    background: white;

                    .colum {
                      &-hd {
                        font-size: 17px;
                      }

                      &-item {
                        font-size: 15px;
                      }

                      li {
                        padding: 7px 10px;

                        a {
                          color: black;
                          height: 28px;
                        }
                      }
                    }
                  }

                  .item {
                    &-text {
                      height: 28px;
                    }
                  }
                }

                &--item:hover .hd_dropdown--right {
                  display: flex;
                  padding: 10px;
                }
              }

            }
          }
        }

        &-right {
          font-size: 16px;

          .help {
            margin-right: 0;

            i {
              font-size: 20px;
              margin-right: 5px;
              color: #fd6506;
            }
          }

          .lan-selector {
            img {
              height: 25px;
            }
          }
        }
      }
    }
  }

  .category-item {
    .swiper-slide {
      a {
        .img {
          margin-bottom: 20px;

          img {
            width: 180px;
            height: 180px;
          }
        }
      }
    }
  }
  .body {
    .section-First {
      &-hd {
        display: none;
      }

      &-mobile {
        display: none;
      }

      &-left {
        padding: 10px;
        border-radius: 10px;

        .content {
          font-size: 13px;
        }

        .list {
          .item {
            padding: 10px 0;

            img {
              width: 22px;
              height: 22px;
            }

            .text {
              font-size: 14px;
              height: 25px;
            }

          }
        }

      }

      &-middle {
        z-index: 0;

        .swiper {
          .swiper-slide {
            font-size: 18px;
          }
        }


      }

      &-right {
        .item {
          margin-top: 20px;
        }

        img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}

@media (max-width: 1140px) {
  .header {
    .header-pc {
      .header-top {
        &-middle {
          .search-wrapper {
            button {
            }

            .category-drop {
              button {
              }
            }
          }
        }

        &-right {
          .item {
            .item-text {
              font-size: 15px;
            }
          }
        }

        &-left {
          display: block !important;

          .header-address {
            display: inline-grid;

            &--text {
              color: white;
              font-weight: 500;
              text-decoration: none;
            }

            &--phone {
              text-decoration: none;
              color: white;
              font-weight: 600;
              font-size: 20px
            }
          }

          .header-logo {
            margin-bottom: 15px;

            img {
              width: 70%;
            }
          }
        }
      }

      .header-bottom {
        &-left {
          &--item {
            margin: 0 7px;

            a {
              font-size: 15px;

              .text {
                font-weight: 500;
                font-size: 15px;
              }
            }
          }

          .header_bottom--one {
            &--hd {
              line-height: 10px;
              font-size: 15px;
              padding: 13px 5px;

              i {
                font-size: 14px;
              }
            }

            .drop-menu {
              padding-top: 54px;

              .header_bottom--one--list {
                background-color: white;
                font-size: 16px;

                &--item {
                  padding: 7px 0px;

                  i {
                    font-size: 13px;
                    line-height: 28px;
                    padding: 0 10px;
                  }

                  .hd_dropdown--right {
                    margin-left: 0px;
                    background: white;

                    .colum {
                      &-hd {
                        font-size: 17px;
                      }

                      &-item {
                        font-size: 15px;
                      }

                      li {
                        padding: 7px 10px;

                        a {
                          color: black;
                          height: 28px;
                        }
                      }
                    }
                  }

                  .item {
                    &-text {
                      height: 28px;
                    }
                  }
                }

                &--item:hover .hd_dropdown--right {
                  display: flex;
                  padding: 10px;
                }
              }

            }
          }
        }

        &-right {
          display: block !important;
          font-size: 16px;
          margin: 15px 0;

          .help {
            margin-right: 20px;
            margin-bottom: 10px;

            i {
              font-size: 20px;
              margin-right: 5px;
              color: #fd6506;
            }
          }

          .lan-selector {
            img {
              height: 25px;
            }
          }
        }
      }
    }
  }
  .section {
    .item {
      &-body {
        padding: 10px;

        .card-title {
          a {
            font-size: 16px;
          }

        }
      }

      &-img {
        height: 220px;
      }
    }

    &-left {
    }

    .category-right {
      margin-top: 40px;
      overflow-x: auto;
      display: flex;
      order: 3;

      .brand-item {
        width: 30%;
        margin: 0 10px;
        padding: 20px;

        &-text {
          .name {
            font-size: 16px;
          }

          a {
            font-size: 14px;
          }
        }

        &-all {
          font-size: 16px;
        }
      }
    }
  }
  .category-item {
    .swiper-slide {
      a {
        .img {
          margin-bottom: 20px;

          img {
            padding: 10px;
            width: 150px;
            height: 150px;
          }
        }

        .text {
          font-size: 16px;
          height: 50px;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }
  .body {
    .section-First {
      &-left {
        padding: 10px;
        border-radius: 10px;

        .content {
          font-size: 13px;
        }

        .list {
          overflow-x: auto;

          .item {
            padding: 10px;

            img {
              width: 22px;
              height: 22px;
            }

            .text {
              font-size: 14px;
              height: 25px;
              -webkit-line-clamp: 1;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              overflow: hidden;
              width: 130px;
            }

          }
        }

      }

      &-middle {
        z-index: 0;

        .swiper {
          .swiper-slide {
            font-size: 18px;
          }
        }


      }

      &-right {
        .item {
          margin-top: 20px;
        }

        img {
          width: 170px;
          height: 170px;
        }
      }

      &-mobile {
        margin-top: 40px;
        order: 3;
      }
    }

    .section-Second {
      img {
        width: 90%;
      }
    }
  }
  .category-body-left {
    display: none;
  }
  .footer {
    .footer-list {
      .footer-item {
        padding: 20px;

        .item-content {
          font-size: 17px;
        }

        .item-small {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .row {
    .col-xxl-6 {
      max-width: 100%;

      .col-xxl-4 {
        max-width: 33.33%;
      }
    }
  }
  .header {
    .header-pc {
      display: none;

      .header-top-left {
        .header-logo {
          padding-right: 10px;

          img {
            width: 100%;
          }
        }
      }
    }

    .header-mobile {
      display: block;
    }

  }
  .marginTop-body {
    margin-top: 40px;
  }
  .image-list li {
    height: 50px;
  }
  .list-voucher {
    .search {
      .form-search {
        margin: 0px 20px;

        .item-voucher {
          .item {
            img {
              width: 34%;
            }
          }
        }
      }
    }
  }
  .body {
    .section-First-mobile {
      display: none !important;
    }

    .section-First {
    }
  }
  .category-item {
    .swiper-pagination {
      display: block;
    }
  }

  .swiper-button-next {
    padding: 15px;
    border: 2px solid #505050;
  }

  .category-header {
    &--right {
      display: block !important;
    }
  }
  .swiper-button-prev {
    padding: 15px;
    border: 2px solid #505050;
  }
  .section {
    .content {
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 30px;
    }

    .category-item {
      min-height: 260px;
    }

    .item {
      &-img {
        width: 100%;
        height: 150px;

        .button-view {
          button {
            padding: 5px;
          }
        }

        .text {
          &-sale {
            font-size: 17px;
            padding: 0 10px;
            margin-bottom: 5px;
          }

          &-new {
            font-size: 17px;
            border-radius: 5px;
            padding: 0 10px;
          }

          &-bundle {
            font-size: 17px;
            border-radius: 5px;
            padding: 0 10px;
          }
        }
      }

      &-body {
        .card-brand {
          color: gray;
          font-size: 14px;
          margin: 5px 0;
        }

        .card-title {
          a {
            height: 25px;
            -webkit-line-clamp: 1;
          }

          &:hover {
            a {
              color: #0a6cdc;
            }

          }

        }

        .card-price {
          font-size: 15px;
          display: block !important;
        }

        .card-bottom {
          &--left {
            height: 35px;
            line-height: 30px;

            a {
              padding: 0 10px;
              font-size: 14px;
            }

            &:hover {
              border: white;
            }
          }
        }
      }
    }

    .brand-item {
      min-width: 300px;

      &-text {
        .name {
          font-size: 17px;
          font-weight: bold;
        }

        a {
          &:hover {
            color: #0a6cdc;
            text-decoration: underline;
          }
        }
      }

      &-img {
        img {
          width: 50px;
        }
      }

      &:hover {
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .2);
      }

      &--all {
        margin: auto;

        a {
          font-size: 17px;

          &:hover {
            color: #0a6cdc;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .body {
    .section-First {
      &-hd {
        display: none;
      }

      &-mobile {
        display: block;
      }

      &-left {
        order: 3;

        .content {
          font-size: 15px;
        }

        hr {
          height: 2.5px;
        }

        .list {
          display: flex;
          overflow-x: auto;

          .item {
            border: none;
          }
        }
      }

      &-middle {
        height: 100%;
        order: 1;
      }

      &-right {
        padding: 0;
        order: 2;
        height: 100%;

        .item {
          margin: 0;
          height: 20vh;
          margin-bottom: 10px;

          img {
            margin: 10px 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .section-Second {
      img {
        width: 90%;
      }
    }

    .section-Sixth {
      .brand {
        img {
          width: 100%;
        }
      }
    }

    .section-Seven {
      padding: 30px 0;
      font-size: 17px;
      background: #fff;
      text-align: center;

      button {
        line-height: 40px;
        font-size: 16px;
      }
    }
  }
  .container-fluid {
    padding: 0 10px;
  }

  .main-list-category {
    .main-category-item {
      width: 18%;
      margin: 0.75%;
    }
  }

  .list-marketing {
    .show-marketing {
      .text-content {
        bottom: 15%;
        left: 15%;
        padding: 4px 8px;

        span{
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  //HEADER
  .header {
    .header-pc {
      .header-top-left {
        .header-logo {
          img {
            width: 120px;
          }
        }
      }
    }

    .header-mobile {
    }

  }
  .body {
    .section {
      &-left {
        display: none;
      }
    }
  }

  .detail {
    .product {
      .buy {
        margin-top: 20px;

        .share {
          background: white;
          padding: 10px;
          font-size: 20px;
        }

        .add-to-cart {
          font-size: 15px;
          border-radius: 30px;
          padding: 10px;
          width: 45%;
        }

        input {
          margin-right: 10px;
          width: 60px;
          border: 1px solid lightgray;
          padding: 10px;
          border-radius: 30px;
        }

        input:hover {
          border-color: green;
        }

        .spinner {
          right: 1px;
          top: 2px;
          width: 1.5rem;
          border-radius: .5rem;
          display: none;
          height: 2rem;
        }
      }

      .description-text {
        margin: 5px 5px 5px 0;
      }
    }
  }
  .category-header {
    display: block !important;

    &--left {
      margin-bottom: 10px;
      font-size: 16px;
    }

    &--right {
      .show-item {
        display: none;
      }

      .SortBy {
        font-size: 16px;

        button {
          padding: 7px 10px !important;
          font-size: 15px;
        }
      }
    }
  }
  .col-6 {
    padding: 0 5px;
  }
  .category-list {
    .item-body {
      .card-title-list {
        a {
          font-size: 15px;
          line-height: 14px;
        }
      }
    }
  }
  .section {
    margin: 0;
  }
  .category-banner {
    position: relative;

    img {
      min-height: 300px;
      object-fit: cover;
      width: 100%;
    }

    .category-name {
      font-size: 35px;
    }
  }
  .topSearch {
    .content_topSearch {
      font-size: 18px;

      h5 {
        font-size: 17px;
      }

      a {
        font-size: 15px;
      }
    }

    .swipertopSearch {
      .topSearch-item {
        .topSearch-header {
          .text-bottom {
            font-size: 14px;
          }
        }

        .topSearch-body {
          font-size: 18px;
        }
      }
    }
  }

  #form-paymentSuccess {
    .product-item {
      margin: 10px 0;

      .img {
        width: 60px;
        height: 60px;
        margin-right: 10px;
      }
    }
  }

  .main-list-category {
    .main-category-item {
      width: 30%;
      margin: 0.75%;
    }
  }

  .swiper-slide{
    max-width: 50%;
    margin: 2%
  }

  .list-products {
    .product-item {
      max-width: 100%;
      margin: 16px 0;
    }
  }

  .list-marketing {
    .show-marketing {
      .text-content {
        bottom: 12%;
        left: 12%;
        padding: 4px 8px;

        span{
          font-size: 12px;
        }
      }
    }
  }

}