@media (min-width: 768px) {
    .hd {
        display: block;
    }
    .mobile {
        display: none;
    }
}
@media (max-width: 1200px) {
    body .blog-menu .card-body--item img {
        width: 100px;
    }
}
@media (max-width: 992px) {
    .hd .hd-content .hd-left a {
        font-size: 13px;
        padding: 0 8px;
        margin: 0;
    }
    .hd .hd-content .hd-left--search button {
        margin: 0;
    }
    body .banner-img--text .all {
        font-size: 25px;
    }
    body .banner-img--text .home {
        font-size: 16px;
    }
    body .blog-menu .card-body--item img {
        width: 225px;
    }
}
@media (max-width: 768px) {
    .hd {
        display: none;
    }
    body .banner-img--text .all {
        font-size: 18px;
    }
    body .banner-img--text .home {
        font-size: 14px;
    }
    body .blog-detail img {
        height: 350px;
    }
    body .product {
        margin-top: 0;
        flex-direction: column-reverse;
    }
    body .product-menu .card-header {
        font-size: 15px;
    }
    body .product-menu .card-body {
        font-size: 13px;
    }
    body .product-list .title {
        margin: 30px 0px 15px;
        font-size: 18px;
    }
    body .product-list--item .text {
        padding: 5px;
    }
    body .product-list--item .text-name {
        font-size: 15px;
        height: 18px;
    }
    body .product-list--item .text-teacher {
        font-size: 12px;
    }
    body .product-list--item .text-evaluate {
        font-size: 12px;
    }
    body .product-list--item .text-price {
        font-size: 14px;
    }
    body .product-list--sale {
        left: -5px;
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    body .product-list--sale span {
        font-size: 12px;
    }
    body .product-detail-two .blog-menu .information .content .list-item--admin img {
        width: 50px;
        height: 50px;
    }
    .footer .copyright {
        padding: 0;
        font-size: 13px;
    }
}
@media (max-width: 576px) {
    body .banner-img--text .all {
        font-size: 13px;
        margin-bottom: 2px;
    }
    body .banner-img--text .home {
        font-size: 11px;
    }
    body .product-detail .buy {
        margin: 20px 0px;
    }
    body .product-detail .buy-text {
        margin-top: 10px;
    }
    body .product-detail .buy-text .text-name {
        font-size: 18px;
    }
    body .product-detail .buy-text .text-teacher {
        font-size: 14px;
    }
    body .product-detail .buy-text .text-buy {
        font-size: 13px;
    }
    body .product-detail .buy-text .text-buy .register {
        margin-right: 10px;
        padding: 10px;
    }
    body .product-detail .buy-text .text-buy .cart {
        padding: 10px;
    }
    body .information {
        margin: 15px;
    }
    body .information .menu .nav-tabs a {
        padding: 11px;
        font-size: 13px;
    }
    body .information .content .teacher {
        margin-top: 15px;
    }
    body .blog-menu .card-body--item img {
        width: 100px;
    }
    body .blog-list--item img {
        height: 95px;
    }
    body .blog-list--item .text-name {
        font-size: 15px;
    }
    body .blog-detail img {
        height: 194px;
    }
    body .product-detail-two .blog-menu .information .menu a {
        padding: 11px;
        font-size: 16px;
    }
    body .product-detail-two .blog-menu .menu-right .body-above.body-above .img img {
        width: 120px;
        height: 120px;
    }
    body .form-control {
        font-size: 15px;
    }
    body .product-list--item .text-name {
        font-size: 13px;
    }
    body .product-list--item .text-teacher {
        font-size: 11px;
    }
    body .product-list--item .text-evaluate {
        font-size: 11px;
    }
    body .product-list--item .text-price {
        font-size: 13px;
    }
    body .product-list--sale {
        left: 20px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    body .product-list--sale span {
        font-size: 10px;
    }
    body .product-list--item .img img {
        height: 95px;
    }
    body .cart-header {
        font-size: 14px;
    }
    body .product-menu .card-header {
        font-size: 13px;
    }
    body .product-menu .card-body a {
        font-size: 14px;
    }
}/*# sourceMappingURL=responsive.css.map */