// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  //HEADER
  .header{
    .header-pc{
      display: block;
    }
    .header-mobile{
      display: none;
    }

  }
  .category-item{
    .swiper-pagination{
      display: none;
    }
  }
  .body{
    .section-First{
    }
  }

}

@media (min-width: 1140px) {
  .body {
    .section-First {
      &-hd {
        display: block;
      }

      &-mobile {
        display: none;
      }
    }
  }

}
@media (min-width: 1700px) {
  .container-fluid{
    max-width: 1700px;
  }
}

@media (max-width: 1280px){
  .header{
    .header-pc{
      .header-top{
        &-middle{
          .search-wrapper {
            button {
            }
            .category-drop {
              button{
              }
            }
          }
        }
      }
      .header-bottom{
        &-left{
          &--item{
            margin: 0 7px;
            a{
              font-size: 15px;
              .text{
                font-weight: 500;
              }
            }
          }
          .header_bottom--one{
            &--hd{
              font-size: 17px;
              padding: 13px 10px;
              i{
                font-size: 14px;
              }
            }
            .drop-menu{
              padding-top: 54px;
              .header_bottom--one--list{
                background-color: white;
                font-size: 16px;
                &--item{
                  padding: 7px 0px;
                  i {
                    font-size: 13px;
                    line-height: 28px;
                    padding: 0 10px;
                  }
                  .hd_dropdown--right{
                    margin-left: 0px;
                    background:white;
                    .colum{
                      &-hd{
                        font-size: 17px;
                      }
                      &-item{
                        font-size: 15px;
                      }
                      li{
                        padding: 7px 10px;
                        a{
                          color: black;
                          height: 28px;
                        }
                      }
                    }
                  }
                  .item{
                    &-text{
                      height: 28px;
                    }
                  }
                }
                &--item:hover .hd_dropdown--right {
                  display: flex;
                  padding: 10px;
                }
              }

            }
          }
        }
        &-right{
          font-size: 16px;
          .help{
            margin-right: 20px;
            i{
              font-size: 20px;
              margin-right: 5px;
              color: #fd6506;
            }
          }
          .lan-selector{
            img{
              height: 25px;
            }
          }
        }
      }
    }
  }

  .category-item{
      .swiper-slide {
        a {
          .img {
            margin-bottom: 20px;

            img {
              width: 180px;
              height: 180px;
            }
          }
        }
      }
  }
  .body{
    .section-First{
        &-hd{
          display: none;
        }
        &-mobile{
          display: block;
        }
      &-left{
        padding: 10px;
        border-radius: 10px;
        .content{
          font-size: 13px;
        }
        .list{
          .item{
            padding: 10px 0;
            img{
              width: 22px;
              height: 22px;
            }
            .text{
              font-size: 14px;
              height: 25px;
            }

          }
        }

      }
      &-middle{
        z-index: 0;
        .swiper {
          .swiper-slide {
            font-size: 18px;
          }
        }


      }
      &-right{
        .item{
          margin-top: 20px;
        }
        img{
          width: 200px;
          height: 200px;
        }
      }
    }
    .section-Eight{
      position: relative;
      img{
        width: 100%;
      }
      .section-content{
        margin: auto;
        text-align: center;
        position: absolute;
        top: 10%;
        left: 10%;
        right: 10%;
        .content{
          margin-bottom: 25px;
          font-size: 35px;
        }
      }
      .list{
        .item{
          padding: 15px;
          min-height: 250px;
          &-img{
            width: 28%;
            margin-bottom: 15px;
          }
          &-content{
            margin-bottom: 15px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (max-width: 1140px){
  .header {
    .header-pc{
      .header-top{
        &-middle{
          .search-wrapper {
            button {
            }
            .category-drop {
              button{
              }
            }
          }
        }
        &-right{
          .item{
            .item-text{
              font-size: 15px;
            }
          }
        }
        &-left{
          display: block!important;
          .header-address{
            display: inline-grid;
            &--text{
              color: white;
              font-weight: 500;
              text-decoration: none;
            }
            &--phone{
              text-decoration: none;
              color: white;
              font-weight: 600;
              font-size: 20px
            }
          }
          .header-logo{
            margin-bottom: 15px;
            img{
              width: 70%;
            }
          }
        }
      }
      .header-bottom{
        &-left{
          &--item{
            margin: 0 7px;
            a{
              font-size: 15px;
              .text{
                font-weight: 500;
                font-size: 15px;
              }
            }
          }
          .header_bottom--one{
            &--hd{
              line-height: 10px;
              font-size: 15px;
              padding: 13px 5px;
              i{
                font-size: 14px;
              }
            }
            .drop-menu{
              padding-top: 54px;
              .header_bottom--one--list{
                background-color: white;
                font-size: 16px;
                &--item{
                  padding: 7px 0px;
                  i {
                    font-size: 13px;
                    line-height: 28px;
                    padding: 0 10px;
                  }
                  .hd_dropdown--right{
                    margin-left: 0px;
                    background:white;
                    .colum{
                      &-hd{
                        font-size: 17px;
                      }
                      &-item{
                        font-size: 15px;
                      }
                      li{
                        padding: 7px 10px;
                        a{
                          color: black;
                          height: 28px;
                        }
                      }
                    }
                  }
                  .item{
                    &-text{
                      height: 28px;
                    }
                  }
                }
                &--item:hover .hd_dropdown--right {
                  display: flex;
                  padding: 10px;
                }
              }

            }
          }
        }
        &-right{
          display: block!important;
          font-size: 16px;
          margin: 15px 0;
          .help{
            margin-right: 20px;
            margin-bottom: 10px;
            i{
              font-size: 20px;
              margin-right: 5px;
              color: #fd6506;
            }
          }
          .lan-selector{
            img{
              height: 25px;
            }
          }
        }
      }
    }
  }
  .section{
    .item{
      &-body{
        padding: 10px;
        .card-title{
          a{
            font-size: 16px;
          }

        }
      }
      &-img{
        height: 220px;
      }
    }
    &-left{
    }
    .category-right{
      margin-top: 40px;
      overflow-x: auto;
      display: flex;
      order: 3;
      .brand-item{
        width: 30%;
        margin: 0 10px;
        padding: 20px;
        &-text{
          .name{
            font-size: 16px;
          }
          a{
            font-size: 14px;
          }
        }
        &-all{
          font-size: 16px;
        }
      }
    }
  }
  .category-item{
    .swiper-slide{
      a{
        .img{
          margin-bottom: 20px;
          img{
            padding: 10px;
            width: 150px;
            height: 150px;
          }
        }
        .text{
          font-size: 16px;
          height: 50px;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }
  .body{
    .section-First{
      &-left{
        padding: 10px;
        border-radius: 10px;
        .content{
          font-size: 13px;
        }
        .list{
          overflow-x: auto;
          .item{
            padding: 10px;
            img{
              width: 22px;
              height: 22px;
            }
            .text{
              font-size: 14px;
              height: 25px;
              -webkit-line-clamp: 1;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              overflow: hidden;
              width: 130px;
            }

          }
        }

      }
      &-middle{
        z-index: 0;
        .swiper {
          .swiper-slide {
            font-size: 18px;
          }
        }


      }
      &-right{
        .item{
          margin-top: 20px;
        }
        img{
          width: 170px;
          height: 170px;
        }
      }
      &-mobile{
        margin-top: 40px;
        order: 3;
      }
    }
    .section-Eight{
      position: relative;
      img{
        width: 100%;
      }
      .section-content{
        margin: auto;
        text-align: center;
        position: absolute;
        top: 10%;
        left: 10%;
        right: 10%;
        .content{
          margin-bottom: 18px;
          font-size: 30px;
        }
      }
      .list{
        .item{
          padding: 10px;
          min-height: 210px;
          &-img{
            width: 25%;
            margin-bottom: 10px;
          }
          &-content{
            margin-bottom: 10px;
            font-size: 15px;
          }
          &-content{
            font-size: 14px;
          }
        }
      }
    }
    .section-Second{
      img{
        width: 90%;
      }
    }
  }
  .category-body-left{
    display: none;
  }
  .footer{
    .footer-list{
      .footer-item{
        padding: 20px;
        .item-content{
          font-size: 17px;
        }
        .item-small{
          font-size: 16px;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .header{
    .header-pc{
      display: none;
      .header-top-left{
        .header-logo{
          padding-right: 10px;
          img{
            width: 100%;
          }
        }
      }
    }
    .header-mobile{
      display: block;
    }

  }


  .list-voucher {
    .search {
      .form-search {
        margin: 0px 20px;
        .item-voucher {
          .item {
            img {
              width: 34%;
            }
          }
        }
      }
    }
  }
  .body {
    .section-First {
    }
  }
  .category-item {
    .swiper-pagination {
      display: block;
    }
  }

  .swiper-button-next {
    padding: 15px;
    border: 2px solid #505050;
  }

  .swiper-button-prev {
    padding: 15px;
    border: 2px solid #505050;
  }
  .section {
    .content {
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 30px;
    }

    .category-item {
      min-height: 260px;
    }

    .item {
      padding: 10px;

      &-img {
        width: 100%;
        height: 150px;

        .button-view {
          button {
            padding: 5px;
          }
        }

        .text {
          &-sale {
            font-size: 17px;
            padding: 0 10px;
            margin-bottom: 5px;
          }

          &-new {
            font-size: 17px;
            border-radius: 5px;
            padding: 0 10px;
          }

          &-bundle {
            font-size: 17px;
            border-radius: 5px;
            padding: 0 10px;
          }
        }
      }

      &-body {
        .card-brand {
          color: gray;
          font-size: 14px;
          margin: 5px 0;
        }

        .card-title {
          a {
            height: 25px;
            -webkit-line-clamp: 1;
          }

          &:hover {
            a {
              color: #0a6cdc;
            }

          }

        }

        .card-price {
          font-size: 16px;
        }

        .card-bottom {
          &--left {
            height: 35px;
            line-height: 30px;

            a {
              padding: 0 10px;
              font-size: 14px;
            }

            &:hover {
              border: white;
            }
          }
        }
      }
    }

    .brand-item {
      min-width: 300px;

      &-text {
        .name {
          font-size: 17px;
          font-weight: bold;
        }

        a {
          &:hover {
            color: #0a6cdc;
            text-decoration: underline;
          }
        }
      }

      &-img {
        img {
          width: 50px;
        }
      }

      &:hover {
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .2);
      }

      &--all {
        margin: auto;

        a {
          font-size: 17px;

          &:hover {
            color: #0a6cdc;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .body {
    .section-First {
      &-hd {
        display: none;
      }
      &-mobile {
        display: block;
      }
      &-left {
        order: 3;

        .content {
          font-size: 15px;
        }

        hr {
          height: 2.5px;
        }

        .list {
          display: flex;
          overflow-x: auto;

          .item {
            border: none;
          }
        }
      }

      &-middle {
        height: 100%;
        order: 1;
      }

      &-right {
        padding: 0;
        order: 2;

        .item {
          margin: 0;

          img {
            margin: 10px 0;
            width: 120px;
            height: 120px;
          }
        }
      }
    }
    .section-Second {
      img {
        width: 90%;
      }
    }
    .section-Sixth {
      .brand {
        img {
          width: 100%;
        }
      }
    }
    .section-Eight {
      img {
      }

      .section-content {
        .content {
        }
      }

      .list {
        overflow-x: auto;

        .item {
          &-img {
          }

          &-content {
          }

          &-text {
          }
        }
      }
    }

    .section-Seven {
      padding: 30px 0;
      font-size: 17px;
      background: #fff;
      text-align: center;
      button {
        line-height: 40px;
        font-size: 16px;
      }
    }
  }
  .footer{
    display: none;
  }
}
@media (max-width: 768px) {
  //HEADER
  .header{
    .header-pc{
      .header-top-left{
        .header-logo{
          img{
            width: 120px;
          }
        }
      }
    }
    .header-mobile{
    }

  }
  .body{
    .section{
      &-left{
        display: none;
      }
    }
  }

  .detail {
    .product {
      .buy{
        margin-top: 20px;
        .share {
        background: white;
        padding: 10px;
        font-size: 20px;
      }
        .add-to-cart {
          font-size: 15px;
          border-radius: 30px;
          padding: 10px;
          width: 45%;
        }
        input {
          margin-right: 10px;
          width: 60px;
          border: 1px solid lightgray;
          padding: 10px;
          border-radius: 30px;
        }
        input:hover {
          border-color: green;
        }
        .spinner {
          right: 1px;
          top: 2px;
          width: 1.5rem;
          border-radius: .5rem;
          display: none;
          height: 2rem;
        }
      }
    }
  }
  .category-header{
    display: block!important;
    &--left{
      margin-bottom: 10px;
      font-size: 16px;
    }
    &--right{
      .show-item{
        display: none;
      }
      .SortBy{
        font-size: 16px;
        button{
          padding: 7px 10px!important;
          font-size: 15px;
        }
      }
    }
  }
  .col-6{
    padding: 0 5px;
  }
  .category-list {
    .item-body{
      .card-title-list {
      a {
        font-size: 15px;
        line-height: 14px;
      }
    }
  }
  }
  .section{
    margin: 10px 0;
  }
  .category-banner {
    position: relative;

    img {
      min-height: 300px;
      object-fit: cover;
      width: 100%;
    }
    .category-name{
      font-size: 35px;
    }
  }
}
@media (max-width: 576px) {
  .container-fluid{
    padding: 0 10px;
  }
  .section{
    .content{
      margin-bottom: 20px;
      font-size: 18px;
    }
    .item{
      &-img{
        img{
          width: 100%;
        }
        .button-view{
          top: 40%;
          right: 20%;
          a{
            padding: 8px 15px;
            border-radius: 50px;
            background-color: #fff;
            &:hover{
              color: white;

            }
          }
        }
      }
      &-body{
        .card-rating{
          span{
            color: rgba(32,32,32,.6);
          }
        }
        .card-brand{
        }
      }
    }
    .brand-item{
      &-img{
        img{
          width: 50px;
        }
      }
      &:hover{
        box-shadow: 0 3px 8px 0 rgba(0,0,0,.2);
      }
      &--all{
        margin: auto;
        a{
          font-size: 17px;
          &:hover{
            color: #0a6cdc;
            text-decoration: underline;
          }
        }
      }
    }
    .product-banner{
      img{
        border-radius: 20px;
       height: 120px;
        padding: 5px;
      }
    }
  }

  .item-voucher{
    .item{
      img{
        width: 30%;
      }
      .content{
        width: 70%;
        padding: 5px;

        .voucher-percent {
          font-size: 14px;
          font-weight: 700;
        }
        .voucher-apply-products {
          font-size: 12px;
        }
        .voucher-end-date {
          font-size: 11px;
        }
        .voucher-details {
          margin: 0;
          font-size: 13px;
        }
        .voucher-code {
          font-size: 12px;
        }

      }
    }
  }
  .list-voucher{
    .search{
      .form-search{
        margin: 0px 20px;
        .voucher{
          display: none;
        }
      }
    }
    .nav-item{
      a{
        padding: 7px;
      }
    }
  }
  .swiper-button-next{
    display: none;
  }
  .swiper-button-prev{
    display: none;
  }
  .category-item{
    .swiper-slide{
      a{
        .img{
          img{
            width: 100px;
            height: 100px;
          }
        }
      }

      .text{
        font-size: 16px;
      }
    }
  }
  .body{
    .section-First{
      .swiper-button-next{
        display: none;
      }
      .swiper-button-prev{
        display: none;
      }
      &-middle{
        height: 100%;
        margin-bottom: 10px;
        padding: 0;
        margin-top: 23px;
      }
      &-right{
        display: flex;

        .item {
          margin: 0;

          img {
            margin: 10px 0;
            width: 100%;
            height: 90%;
            object-fit: cover;
          }
        }
      }
    }
    .section-Second{
      img{
        width: 100%;
        object-fit: cover;
      }
    }
    .section-Third{
       .swiper-pagination{
         margin-top: 10px;
       }
     }
    .section-Eight{
      .img{
        min-height: 400px;
        width: 100%;
      }
      .list {
        .item{
          min-width: 220px;
          min-height: 240px;
          &-img{
            margin-bottom: 20px;

          }
        }

      }
    }
  }
}
// Extra large devices (large desktops, 1200px and up)