.background{
    background-image: url("../images/img/background.png");
    background-size: 100%;
    background-repeat: round;
    min-height: 600px;
}
.bg{
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.14);

}
.button{
    border: 1px solid black;
}
.title{
    font-size: 30px;
}

.logo{
    text-align: center;
}
.logo img{
    max-height: 25px;
}
.category{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.table th{
    padding: 10px 30px;
}

.table td{
}