.name{
    font-size: 17px;
}
.category{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}
li{
    list-style: none;
}

.card-header{
    margin-top: 22px;
}

.header_back{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    z-index: 1;
}