$color-main: #fd6506;
.header_back{
  background-color: #fff;
  max-height: 56px;
  min-height: 56px;
  box-shadow: 0 1px 4px 0 rgba(74,74,78,.12);
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  .name{
    font-size: 20px;
    font-weight: 500;
  }
}

.header-card{
  margin-top: 56px;
  &--left{
    .wrapper {
      width: 17%;
      height: 100%;
      overflow-y: auto;
      font-size: 0.875em;
      position: fixed;
      top: 55px;
      left: 0;
      bottom: 0;
      .items {
        padding: 18px 0;
        font-size: 18px;
        li{
          list-style: none;
          .item{
            margin-top: 5px;
            font-size: 16px;
            color: #999;
            font-weight: 600;
            &:hover{
              color: #999;
            }
          }
          a{
            color: black;
            font-size: 16px;
            &:hover{
              color: $color-main;
            }
          }
        }
      }
    }

  }
}


.items > li > a {
  display: block;
  text-indent: 18px;
  line-height: 39px;
}

.items > li > a::after {
  position: absolute;
  right: 30px;
  font-family: "FontAwesome";
}

.items > li > a::after {
  right: 30px;
  content: "\2192";
}

.itemHover {
  color: #fff;
  font-weight: 600;
  transition: background-color 0.4s ease-in-out;
}

.items > li > a:hover {
  text-decoration: none !important;
}

.items > li > a.expanded::after {
  content: "\2193";
}

.items > li:not(:has(ul)) > a::after,
.items > li:not(:has(ul)) > a.expanded::after {
  content: none;
}

.sub-items a {
  position: relative;
  display: block;
  margin: 0 1rem;
  width: 212px;
  text-indent: 24px;
  line-height: 27px;
}

.sub-items .current {
  position: relative;
  color: #64D7E2;
  border-color: white;
}

.sub-items > li:hover > a {
  color: #64D7E2;
  transition: color 0.4s ease-in-out;
  text-decoration: none;

}

.sub-items {
  display: none;
}



